footer{
    background: #998431;
    height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets{
        height: 150px;
    }
}
.footer__content{
    max-width: 1100px;
    width: 100%;
    height: 120px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @include tablets{
        height: 65px;
    }
    @include phones{
        height: auto;
        border: none;
    }
}
.upper__item{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 2px;
    justify-content: center;
    transition: all .3s ease;
    &:hover{
        font-size: 1.05rem;
    }
    &:nth-child(3){
        width: 100px;
    }
}
.footer__upper{
    display: flex;
    max-width: 1000px;
    height: 50%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include tablets{
        display: none;
    }
    
}
.footer__lower{
    width: 100%;
    height: 50%;
    border-top: 1px solid #fff;
    padding: 0 20px;
    @include tablets{
        height: 100%;
    }
    @include phones{
        border:none;
    }
}
.footer__lower--inner{
    @extend .footer__upper;
    display: flex;
    font-family: 'Mont-600';
    height: 100%;
    max-width: none;
    padding-left: calc(52% - 496px);
    flex-direction: row;
    margin: 0 auto;
    @include phones{
        flex-direction: column;
    }
}
.lower__item{
    
    &:nth-child(4){
        border: none;
    }
    &:hover{
        transform: scale(1.1);
    }
    transition: all .3s ease;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 2px;
    border-right: 1px solid #fff;
    font-family: "Mont-600";
    @include phones{
        margin-top: 10px;
        border: none;
    }

}
.lower__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid #fff;
    a{
        height: 26px;
        width: 26px;
    }
    @include phones{
        margin-top: 10px;
        border: none;
    }
}
.lower__icon{
       margin-right: 15px;
    &:nth-child(3){
        margin: 0;
    }
}
.yt {
    &:hover{
        fill:red;  
    }
}
.vk{
    &:hover{
        fill:#3d65ad;  
    }
}
.fb{
    
}
